<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Сообщение с сайта <%= @url %> от, <%= @user.name %></h1>
    <p>
      <strong>Тема обращения:</strong> <u><%= @user.subject %>.</u><br>
    </p>
    <p>
      <strong>Контакт Отправителя:</strong> <u><%= @user.email %></u>
    </p>
    <p>
      <strong>Текст сообщения:</strong> <%= @user.description %>.
    </p>
    <p>Хорошего дня!</p>
  </body>
</html>