<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @product.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Slave:</strong>
  <%= @product.slave %>
</p>

<p>
  <strong>Image uid:</strong>
  <%= @product.image_uid %>
</p>

<p>
  <strong>Image name:</strong>
  <%= @product.image_name %>
</p>

<p>
  <strong>Url:</strong>
  <%= @product.url %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @product.sort %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
